
/****************************************************************/
/*********************** BASICS *********************************/
/****************************************************************/

body{
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  margin: 0px auto;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

a{
  text-decoration: none;
  color: lightgreen;
}

h1{
  margin: 0px;
  padding: 10px;
  font-size: 40px;
}

.container{
  width: 100%;
  height: 100%;
  margin-top: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.core{
  width: auto;
  height: auto;
  width: 500px;
  margin-left: calc(50% - 250px);
  /* background-color: white; */
  position: absolute;
  /* z-index: 90; */
}

.core-open{
  font-family: monospace;
  color: green;
}


.computer{
  width: 200px;
  position: absolute;
  top: 100px;
  left: calc(50% - 80px);
  z-index: 95;
  -webkit-animation: glow 15s infinite linear;
  animation: glow 15s infinite linear;
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: all 1s ease-out;
}

@-webkit-keyframes glow {
  000% { -webkit-filter: drop-shadow(5px 5px 13px #f99); filter: drop-shadow(5px 5px 13px #f99) }
  033% { -webkit-filter: drop-shadow(5px 5px 13px #9f9); filter: drop-shadow(5px 5px 13px #9f9) }
  066% { -webkit-filter: drop-shadow(5px 5px 13px #99f); filter: drop-shadow(5px 5px 13px #99f) }
  100% { -webkit-filter: drop-shadow(5px 5px 13px #f99); filter: drop-shadow(5px 5px 13px #f99) }
}
@keyframes glow {
  000% { -webkit-filter: drop-shadow(5px 5px 13px #f99); filter: drop-shadow(5px 5px 13px #f99) }
  033% { -webkit-filter: drop-shadow(5px 5px 13px #9f9); filter: drop-shadow(5px 5px 13px #9f9) }
  066% { -webkit-filter: drop-shadow(5px 5px 13px #99f); filter: drop-shadow(5px 5px 13px #99f) }
  100% { -webkit-filter: drop-shadow(5px 5px 13px #f99); filter: drop-shadow(5px 5px 13px #f99) }
}


/****************************************************************/
/*********************** SKILLS *********************************/
/****************************************************************/

.skillsContainer{
  position: absolute;
  top: 100px;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(50% - 150px);
  margin-top: 40px;
}

.skill{
  width: auto;
  height: 16px;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  position: relative;
}

.skill:hover { 
}

.skill:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.skill:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.skill-lightgreen{
  background-color: lightgreen;
}

.skill-lightblue{
  background-color: lightblue;
}

.skill-pink{
  background-color: pink;
}

/****************************************************************/
/*********************** PERSONAL *******************************/
/****************************************************************/

.personal{
  width: 100%;
  height: 0px;
  z-index: 30;
  transform-origin: left bottom 0;
  position: absolute;
  top: 0px;
  background-color: transparent;
  outline: none;
  outline-offset: none;
  transition: all 0.25s ease-in-out;
  outline: solid 250px black;
  outline-offset: -250px;
}
.personal-frame{
  outline: solid 250px lightblue;
  outline-offset: -250px;
}
.personalContent{
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.personal-open{
  height: 100vh;
} 
.hide{
  display: none;
}
.visible{
  opacity: 1;
}

/****************************************************************/
/*********************** ABOUT **********************************/
/****************************************************************/

.about{
  width: 100%;
  height: 0px;
  z-index: 90;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  transition: height 1s ease-in-out;
  font-family: monospace;
  font-size: 10px;
  color: green;
}

.about-open{
  height: 100vh;
} 

.about-content{
  opacity: 0;
}

.about-content-open{
  opacity: 1;
}

