
/****************************************************************/
/*********************** BASICS *********************************/
/****************************************************************/

body{
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  margin: 0px auto;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

a{
  text-decoration: none;
  color: lightgreen;
}

h1{
  margin: 0px;
  padding: 10px;
  font-size: 40px;
}

.container{
  width: 100%;
  height: 100%;
  margin-top: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.openAboutButton{
  position: absolute;
  top: 5px;
  right: 5px;
}

.core{
  width: auto;
  height: auto;
  width: 500px;
  margin-left: calc(50% - 250px);
  position: absolute;
}

/* .core-open{
  font-family: monospace;
  color: green;
} */

.computer{
  width: 200px;
  position: absolute;
  top: 100px;
  left: calc(50% - 80px);
  z-index: 95;
  -webkit-animation: glow 15s infinite linear;
  animation: glow 15s infinite linear;
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: all 1s ease-out;
}

@-webkit-keyframes glow {
  000% { -webkit-filter: drop-shadow(5px 5px 13px #f99); filter: drop-shadow(5px 5px 13px #f99) }
  033% { -webkit-filter: drop-shadow(5px 5px 13px #9f9); filter: drop-shadow(5px 5px 13px #9f9) }
  066% { -webkit-filter: drop-shadow(5px 5px 13px #99f); filter: drop-shadow(5px 5px 13px #99f) }
  100% { -webkit-filter: drop-shadow(5px 5px 13px #f99); filter: drop-shadow(5px 5px 13px #f99) }
}
@keyframes glow {
  000% { -webkit-filter: drop-shadow(5px 5px 13px #f99); filter: drop-shadow(5px 5px 13px #f99) }
  033% { -webkit-filter: drop-shadow(5px 5px 13px #9f9); filter: drop-shadow(5px 5px 13px #9f9) }
  066% { -webkit-filter: drop-shadow(5px 5px 13px #99f); filter: drop-shadow(5px 5px 13px #99f) }
  100% { -webkit-filter: drop-shadow(5px 5px 13px #f99); filter: drop-shadow(5px 5px 13px #f99) }
}


/****************************************************************/
/*********************** SKILLS *********************************/
/****************************************************************/

.skillsContainer{
  position: absolute;
  top: 100px;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(50% - 150px);
  margin-top: 40px;
}

.skill{
  width: auto;
  height: 16px;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  position: relative;
}

.skill:hover { 
}

.skill:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.skill:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.skill-light{
  /* background-color: lightgreen; */
  background-color: #bcffb5;
}

.skill-medium{
  /* background-color: lightblue; */
  background-color: #7abf6d
}

.skill-dark{
  /* background-color: pink; */
  background-color: #349137;
}


/****************************************************************/
/*********************** ABOUT **********************************/
/****************************************************************/

.about{
  width: 100%;
  height: 0px;
  z-index: 90;
  position: absolute;
  top: 0px;
  left: 0px;
  /* background-color: black; */
  /* transition: height 1s ease-in-out; */
  font-family: monospace;
  transition: background-color 1s ease-in-out;
}

.about-open{
  height: 100vh;
  background-color: black;
  transition: background-color 1s ease-in-out;
} 

.about-content{
  display: none;
  opacity: 0;
  padding-left: 10px;
  text-align: left;
  font-family: 'Monaco', monospace;
  color: lightgrey;
  font-size: 12px;
}

.about-content-open{
  display: block;
  opacity: 1;
}


.typer{
  display: inline-block;
  width: 8px;
  height: 13px;
  margin: 1px 0 0px -1px;
  background-color: lightgrey;
  opacity: 1;
  vertical-align: top;
  animation: blinker 0.5s linear infinite alternate;
}

/* &.blink{
  animation: blinker 0.5s linear infinite alternate;
} */

@keyframes blinker{
  0%
    {opacity: 1;}
  45%
    {opacity: 1;}
  55% 
    {opacity: 0;}
  100%
    {opacity: 0;}  
} 


.lastfm-songs{
  line-height: 2px;
}

